.styled-btn {
  background: none;
  border: none;
  outline: none;

  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

.styled-btn:hover {
  background-color: #333;
}

.styled-btn:active {
  transform: scale(0.9);
}
